mat-form-field {
    display: block;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 200px;
    margin: 0 16px;
}

button {
    margin-top: 12px;
    display: block;
    width: 100%;
}
